// default.scss

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  padding: 5% 15%;
  background-color: #f5f5e0;

  @media (max-width: 600px) {
    padding: 2% 5%;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    padding: 4% 10%;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

nav div {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.separator {
  margin: 0 10px;
  color: #000;
  align-self: stretch;
  border-left: 1px solid #000;
}

.name-link {
  color: #000;
}

a {
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1px;
  color: #b51d09;
  font-size: 1rem;
}

p, li {
  line-height: 1.75rem;
  font-size: 1rem;
}

.posts-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

blockquote {
  color: #777;
  font-size: 1rem;
  margin: 0;
  padding: 0rem 0.5rem;
  border-left: 2px solid #b51d09;
}

/* inline code */
code:not(pre code) {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1.00em;
  color: #b51d09;
  text-underline-offset: 1.5px;
  text-decoration-thickness: 2px;
}

.posts-container a {
  text-decoration: none;
  color: inherit;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.post * {
  margin: 0px;
}

.post h2 {
  font-weight: normal;
}

.post-date {
  color: #777;
  font-size: 0.9rem;
}

.post-description {
  color: #555;
  font-size: 1rem;
}
