// default.scss

body {
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    padding: 5% 15%;
    background-color: #f5f5e0;

    @media (max-width: 600px) { 
        padding: 2% 5%;
    }

    @media (min-width: 601px) and (max-width: 1024px) { 
        padding: 4% 10%;
    }
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav div {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.separator {
    margin: 0 10px;
    color: #000;
    align-self: stretch;
    border-left: 1px solid #000;
}

.name-link {
    color: #000;
}

a {
    text-decoration: underline;
    text-underline-offset: 2.5px;
    text-decoration-thickness: 1px;
    color: #B51D09;    
    font-size: 1rem;
}

p {
    line-height: 1.75rem;
    font-size: 1rem;
}