/* homepage.scss */

#homepage-links > a:first-child {
    padding-left: 0px;
}

#homepage-links > a {
    border-right: 0.1rem solid black;
    padding-left: 0.3rem;
    padding-right: 0.55rem;
}

#homepage-links > a:last-child {
    border-right: none;
}

#homepage-sections {
    display: flex;
}

#homepage-sections-left, #homepage-sections-right {
    width: 50%;
}

#homepage-sections ul {
    list-style: disc;
}

#homepage-sections li {
    margin: 0.8rem 2rem 0;
}
